*{ 
  font-family: sans-serif;
  text-transform: uppercase;
}
.head {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{

  text-align: center;
  font-size: 50px;
  color: rgb(48, 48, 48);
}
button {
  background: rgb(48, 48, 48);
  color: white;
  font-size: 70px;
 border-radius: 20px; 
}
button:hover {
  background: rgb(16, 79, 0);
}
.playerChange{
  text-align: center;
  border: 2px solid  rgb(48, 48, 48);
  border-radius: 10px;  
  color: rgb(3, 92, 0);
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
padding-top: 6px;
padding-bottom: 6px;
  
}
.pictName{
  background: rgb(71, 3, 71);
  color: white;
  font-size: 30px;
  border-radius: 4px;
  padding: 5px;
  
  
}
.fildGame {
  display: flex;
  justify-content: center;

}
.enter {
  background: rgb(0, 5, 72);
  width: 70px;
  margin-top: 20px;
  border-radius: 4px;
  color: white;
  padding: 2px;
  
}
.enter:hover {
  background: rgb(11, 22, 178);
}
.player{
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.win {
text-align: center;
margin-top: 40px;
  font-size: 130px;
  color: rgb(255, 255, 255);
  background: rgb(0, 21, 102);
  border-radius: 20px;
  font-weight: bold;
}

.cell{
  font-family: sans-serif;
  font-size: 80px;
  background: rgb(251, 251, 251);
  border: 1px solid black;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: rgb(48, 48, 48);
}
.cell:hover {
  background: rgb(164, 164, 164);
}
.net {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas: 
  'a b c'
  'd e f'
  'h j g';
  width: 300px;
}
#a {
  grid-area: a;
}

#b {
  grid-area: b;
}

#c {
  grid-area: c;
}

#d {
  grid-area: d;
}

#e {
  grid-area: e;
}

#f {
  grid-area: f;
}

#h {
  grid-area: h;
}

#j {
  grid-area: j;
}

#g {
  grid-area: g;
}